.container {
    display: flex;
    margin-left: 40px;
    background-color: aqua;
    justify-content: space-between; 
    align-items: center; 
  }


  .image-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 40;
  
    height: 400px;
    background-image: url('about-img2.jpeg');
   
    background-size: cover;
    background-position: center;
    padding-top: 100px;

  }




  .text-container {
    position: absolute;
    bottom: 0;
    top: 420;
    left: 840;
    width: 100;
    display: flex;
    justify-content: center;
    padding: 120px;
    box-sizing: border-box;
  }

  .box {
    width: calc(25%-20);
    height: 60px;
    background-color:grey;
    margin-right: 60;
    align-items: center;
    padding: 10;
    color: white;
    cursor: pointer;
      
  
  }
  .box:hover{
    background-color:burlywood;
  }

 .container img{
    width: 200px;
  }

  .element1{

    
    background-color: #f0f0f0;
    padding: 10px;
    justify-content: space-between;
    display: inline-block;

  }
  nav ul {
    margin: 0;
    padding:0;
    float: right;
  }

  nav li {
    display: inline-block;
    margin-top: -40px;
    padding: 6px;
    

  }
  .element2
   {
    float:right;
    display: inline-block;
    
    
  }

  .welcome-text {
    margin-left: 80;
  }

  .about-body{
    margin-left: 200;
    margin-right: 200;
  }

  .sub-image {
    background-image: url('https://dcs.ug.edu.gh/img/gallery/g4.jpg');
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20;
    margin-left: 0;
    height: 200px;
  
    background-size: cover;
    background-position: center;
    padding-top: 100px;
  }

  .p{
    align-items: center;
    font-size: 100;
    text-align: center;
  }

  .text-under-container {
    text-align: center;
    margin-top:50px;
    width: 250; 
  }

  h1 {
    font-size: 2em;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;


  }

  .about-container{
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20;
    height: 200px;
    background-image: url('https://dcs.ug.edu.gh/img/gallery/about-banner.jpg');
   
    background-size: cover;
    background-position: center;
    padding-top: 100px;
  }

  
  .image-cont {
    position: relative;
    align-items: center;
    margin-left: 400;
    margin-right: 100;
    width: 60%;
    height: 400px;
    background-image: url('https://dcs.ug.edu.gh/img/under_grad_main.jpg');
    background-color: black;
    background-position:center ;
    text-align: center;
    

  }

  .container-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; 
  }

  .text {
    padding: 10px;
    background-color: #2c2a58;
    color: #ccc;
  }

  .footer {
    background-color: #2c2a58;
    list-style: none;

    width: 100%;
    display: flex;




  }

  
  
  .foot-text{
    padding: 10px;
    background-color: #2c2a58;
    color: #ccc;
  }

  .long-cont {
    width: 250px;
    list-style: none;
    justify-content: space-evenly;
    height: 400px;
    background-color: #2c2a58;
      align-items: center;
    margin: 10px; 
    overflow: hidden;
    border: 1px solid #ccc; 
  }

  
  .image1 {
    width: 100%;
    height: 150px;
    background-image: url('https://dcs.ug.edu.gh/img/short_courses_images/Mobile%20App%20Dev.jpg'); 
    background-size: cover;
    background-position: center;
    
  }
  
  .image2 {
    width: 100%;
    height: 150px; 
    background-image: url('https://dcs.ug.edu.gh/img/short_courses_images/Web%20Dev.png'); 
    background-size: cover;
    background-position: center;
  }
  .image3 {
    width: 100%;
    height: 150px; 
    background-image: url('https://dcs.ug.edu.gh/img/short_courses_images/Cyber%20Security.jpg');
    background-size: cover;
    background-position: center;
  }
  .image4 {
    width: 100%;
    height: 150px; 
    background-image: url('https://dcs.ug.edu.gh/img/short_courses_images/CCNA.png');
    background-size: cover;
    background-position: center;
  }

  body {
    font-family: Arial, sans-serif;


  }

  .sub-image2 {
    background-image: url('https://dcs.ug.edu.gh/img/gallery/PHOTO-2019-03-04-14-42-37.jpg');
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20;
    margin-left: 0;
    height: 200px;
   
  
    background-size: cover;
    background-position: center;
    padding-top: 100px;
  }



  .text-element {
    margin-left: 100;
  }

  .short-courses {
    font-size: 15;
    margin-top: 250px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;

  }
  .image-text2{
    display: inline-block;
     margin-top: -350px;
     margin-left: 600;
     margin-right: 10;
     height: 0px;
     width: 400px;
     size: 20;
 
     
     align-items: center;
   }

  .image-text{
   display: inline-block;
    margin-top: -280px;
    margin-left: 600;
    margin-right: 10;
    height: 0px;
    width: 400px;
    size: 20;

    align-items: center;
  }


  .row-container {
    display: flex;
    margin-top: 400px;
    margin-left: 300;
    margin-right: 10;
    height: 0px;
    width: 40px;
    size: 10;

    
    align-items: center;
   
  }
  .row-icon {
    display: flex;
    margin-top: 120px;
    margin-left: 200;
    margin-right: 100;
    list-style: none;}